<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="../stylesheets/main.css">
</head>

<body>
    <div class="main bg-zinc-900 h-screen relative w-full flex flex-col justify-center items-center text-white">
        <p class="text-4xl font-semibold absolute top-[13vh]">
            Wrong credentials
        </p>
        <div class="absolute top-[20vh]">

            <a href="/login" class="text-blue-500">Sign In</a> or <a href="/" class="text-blue-500">Sign
                Up</a>
            </p>
        </div>
    </div>
</body>

</html>