<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/main.css">
    <title>Instagram</title>
</head>

<body class="bg-zinc-900 text-white">
    <div class="main flex">
        <!-- <div class="left h-[100vh] w-[50vw] flex justify-end items-center">
            <img src="../images/insta.png" class="h-[80%]">
        </div> -->
        <div class="right h-[100vh] w-[100vw] flex flex-col gap-7 justify-center items-center">
            <div class=" w-[90%] flex flex-col items-center gap-5 p-5">
                <img src="https://www.pngkey.com/png/full/28-287308_instagram-logo-text-white.png" class="w-[50vw]">
                <form action="/login" autocomplete="off" method="post" class="flex flex-col gap-3">
                    <input type="email" placeholder="Email" name="email"
                        class="border text-black border-gray-300 px-10 py-2 text-center rounded-lg">
                    <input type="password" placeholder="Password" name="password"
                        class="border text-black border-gray-300 px-[5vw] py-2 text-center rounded-lg">
                    <input type="submit" value="Log in"
                        class="text-center bg-blue-500 text-white px-[5vw] py-2 rounded-lg">
                    <a href="/" class="pb-11 pt-11 text-center">Don't have an account? <span class="text-blue-500">Sign
                            up</span></a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>