<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/main.css">
    <title>Register</title>
</head>

<body class="bg-zinc-900 text-white">
    <div class="main flex max-h-[100vh] overflow-hidden">

        <div class="right h-[100vh] w-[100vw] flex flex-col gap-7 justify-center items-center">
            <div class="w-[90%] flex flex-col items-center gap-5  p-5">
                <img src="https://www.pngkey.com/png/full/28-287308_instagram-logo-text-white.png" class="w-[50vw]">
                <form action="/register" autocomplete="off" method="post" class="flex flex-col gap-3 ">

                    <input type="email" placeholder="Email" name="email"
                        class="border text-black px-10 py-2 text-center rounded-lg" required>
                    <input type="text" placeholder="Full Name" name="fullname"
                        class="border text-black px-10 py-2 text-center rounded-lg" required>
                    <input type="text" placeholder="Username" name="username"
                        class="border text-black px-10 py-2 text-center rounded-lg" required>
                    <input type="password" placeholder="Password" name="password"
                        class="border text-black px-[5vw] py-2 text-center rounded-lg" required>
                    <input type="submit" value="Register"
                        class="text-center bg-blue-500 text-white px-[5vw] py-2 rounded-md">
                    <p class="pb-11 pt-11 text-center">already have an account? <a href="/login"
                            class="text-blue-500">Sign in</a></p>
                </form>
            </div>
        </div>
    </div>
</body>

</html>